main {
  margin-block-end: 60px;
}

.root__search {
  margin-block-end: 60px;
}

.root__pagination {
  margin-block-end: 30px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error {
  margin-block-end: 60px;
}

@media (width <= 1400px) {
  .root__search {
    margin-block-end: clamp(2.5rem, 2.13rem + 1.85vw, 3.75rem);
  }
}

@media (width <= 830px) {
  .search {
    flex-direction: column;
    align-items: flex-start;
  }
}
