$main-color: white;
$accent-color: #f5c518;

.search {
  width: 425px;
  height: 44px;
  padding: 10px 20px;
  border-radius: 22px;
  border: 1px solid $main-color;
  background-color: transparent;
  color: $main-color;
}

.search:focus {
  outline: 2px solid $accent-color;
  outline-offset: 0;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-image: url("../../../images/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 14px;
  width: 14px;
  cursor: pointer;
}

@media (width <= 475px) {
  .search {
    width: 100%;
  }
}
