$accent-color: #f5c518;

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.root__navigation {
  margin-block-end: 40px;
}

.navigation__text {
  color: $accent-color;
  font-size: 25px;
  font-weight: 900;
  line-height: normal;
}

.image {
  display: flex;
  width: 100%;
  height: 690px;
  overflow: hidden;
}

@media (width <= 1200px) {
  .root__navigation {
    margin-block-end: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  }

  .navigation__text {
    font-size: clamp(1rem, 0.795rem + 1.02vw, 1.563rem);
  }

  .image {
    height: clamp(12.5rem, 1.364rem + 55.68vw, 43.125rem);
  }
}

.image__preview {
  width: 100%;
  object-fit: cover;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.button {
  padding-inline-start: 30px;
}

@media (width <= 830px) {
  .button {
    padding-inline-start: clamp(0rem, -1.176rem + 5.88vw, 1.875rem);
  }
}
