$main-color: #0b0b0b;
$blur-color: rgba(11, 11, 11, 0.7);

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background-color: $blur-color;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.opened {
  display: flex;
}

.popup__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  background: $main-color;
  border: 3px solid white;
}

.popup__title {
  display: flex;
  justify-content: space-between;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  width: 50%;
  height: 44px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

textarea {
  width: 100%;
  height: auto;
  resize: none;
}

@media (width <= 830px) {
  .popup__content {
    padding: clamp(1.25rem, 0.466rem + 3.92vw, 2.5rem);
    gap: clamp(1.25rem, 0.466rem + 3.92vw, 2.5rem);
  }

  .popup__title {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .popup__form {
    gap: clamp(0.625rem, 0.233rem + 1.96vw, 1.25rem);
  }

  input {
    width: 100%;
  }
}
